@use "../../styles/structure";
@use "../../styles/colors";
@use "../../styles/box-model";

.movie-dashboard-section {
  @include structure.flex(flex-start, center, column);
  height: calc(100vh - structure.$nav-height);
}

.dashboard-header {
  // flex-grow: 1;
  // flex-shrink: 0;
  width: 100%;
  padding: box-model.get-padding(md) box-model.get-padding(lg);
  @include structure.flex(space-between);
  border-bottom: box-model.secondary-border(sm);
}

.dashboard-header-filters {
  @include structure.flex();
  gap: box-model.get-margin(md);

  margin-right: box-model.get-margin(xxl);

  span {
    color: colors.$neutral-color;
    border: box-model.neutral-border(sm);
    padding: box-model.get-padding(sm) box-model.get-padding(md);
    border-radius: box-model.get-border-radius(md);

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: colors.$accent;
      color: colors.$primary-color;
    }
    &.active {
      background-color: colors.$accent;
      color: colors.$primary-color;
    }
  }
}

.dashboard-movies {
  width: 100%;
  @include structure.flex(space-between, center, row);
  gap: box-model.get-margin(lg);
  flex-wrap: wrap;
  padding: box-model.get-padding(lg);
  overflow: auto;

  app-movie-card {
    width: 30%;
  }
}
